.organic-hey {
    background-color: rgb(209, 168, 106);
}

.or-heading-text {
    /* padding-top: 30px;
    padding-bottom: 30px; */
    font-size: 20px;
    padding: 30px 0px !important;
    text-align: justify;
    text-align-last: center;
    margin-bottom: 0px;
}

.cow-img {
    width: 100%;
}

.organic-nopadding {
    padding-right: 0 !important;
    margin-right: 0 !important;
}