.logo-image {
    max-width: 180px;
    height: 110px;
    /* background-color: rgb(155, 11, 11); */
    border-radius: 30px;
    margin: 0 20px;
}

.navbar-style {
    background-color: #9AB862;
    color: white;
}

.navbar .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.navbar .navbar-nav .nav-link:hover {
    color: rgb(122, 170, 50);
}

.navbar .navbar-nav .nav-link:active {
    color: rgb(122, 170, 50);
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;
}

/* .custom-toggler {
    color: #070202 !important;

} */
.navbar-toggler {
    color: #070202 !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


@media screen and (max-width: 600px) {
    .logo-image {
        max-width: 140px;
    }
}