.ownerText {
    font-size: 17px;
    line-height: 1.75;
    margin: 12px 0;
}

.column {
    padding: 0;
    padding-top: 80px;
    cursor: pointer;
}

@media screen and (max-width:620px) {
    .column {
        padding-top: 20px;
    }
}

.column div {
    position: relative;
    float: left;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}


.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}



.img-size {
    /* 	padding: 0;
	margin: 0; */
    height: 450px;
    width: 700px;
    background-size: cover;
    overflow: hidden;
}

.modal-content {
    width: 700px;
    border: none;
}

.modal-body {
    padding: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.fullscreen-carusel-image {
    width: 100%;
    height: 100%;
}